body{
    padding: 40px;
    background-color: #d4e2d4;
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.image{
    width: 50%;
    height: 300px;
    margin: 20px;
}
.text{
    padding-top: 150px;
    width: 40%;
    align-items: center;
    height: 300px;
    margin: 10px;
}
.text p{
    margin-top: 30px;
}
button{
    padding: 20px;
    background-color: black;
    color: white;
    border: none;
}


@media (max-width: 540px){
   .image{
       width: 100%;
   }
   .text{
       width: 100%;
       margin-top: none;
       padding-top: none;
   }
}